<div class="about-cards">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>APIPL Warehouse Services</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/warehouse1.jpeg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="content-about">
            Providing Services such as :
            <ul>
                <li>
                    Storage of Goods , Wares , or Commodities for hire.
                </li>
                <li>
                     Operations such as Loading , Packing , Sorting , Stacking , Packing.
                </li>
                <li>
                    Distribution and Delivery of goods
                </li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>APIPL Warehouse Services</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/warehouse2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div  class="content-about">
                Clients include :
                <ul>
                    <li>
                        Central Warehousing Corporation
                    </li>
                    <li>
                        Gas Authority Of India Ltd
                    </li>
                    <li>
                        Hindustan Unilever Limited
                    </li>
                    <li>
                        Spencer's Retail
                    </li>
                </ul>
              </div>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>APIPL Warehouse Services</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/warehouse3.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            A warehouse is a facility that, along with storage racks, handling equipment and personnel and management resources, allows us to control the differences between the incoming flow of goods (received from suppliers, production centers, etc.) and the outgoing flow of goods (goods being sent to production, sales, etc.).
          </p>
        </mat-card-content>
      </mat-card>
</div>


<app-footer></app-footer>
