/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-image: url("./assets/home-wallpaper.jpg");
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
