.homepage-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    .title-cover{
        position: relative;
        top: 80px;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        padding: 20px;
    }
    .title{
        text-align: center;
        margin: 0px;
        padding: 0px;
        width: 100%;
        font-family: "Marcellus", serif;
        font-size: 40px;
        color: wheat;
        line-height: 30px;
        
    }
    @media only screen and (max-width: 422px) {
        .title{
            font-size: 25px;
        }
    }
    
    
    .signup-app{
        width: 100%;
    }
}





